<body class="d-flex flex-column min-vh-100">
  <p>Si crea button cone vento nel ts , che si collega al window.scrollToTop</p>
    <footer class="footer bg-dark text-white text-center py-3 mt-auto">
        <div class="container">
            <div class="row">
              <div class="col-md-6">
                <!-- Contenuto del footer -->
              </div>
              <div class="col-md-6 d-flex justify-content-end align-items-end">
                <button class="btn btn-light" (click)="scrollToTop()">
                  <i class="fas fa-arrow-up"></i>
                </button>
              </div>
            </div>
        </div>
    </footer>  
</body>