<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#home">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/buttonR']">button reinderizzamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/barra']" routerLinkActive="active">barra di Ricerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/reactive']" >Reactive Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/driver']" >Driver Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/toggle']">Toggle button</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/loading']">Loading page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/carousel']">Carousel Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/insure']">Insure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/automotive']">Automotive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aeronautica']">Aeronautica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/plc']">PLC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/logistica']">Logistica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/tuning']">Tuning</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/modal']">Modal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/state']">State Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sicurezza']">Sicurezza</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/crud']">Metodi CRUD</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/spring']">Spring Security</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/pag']">Paginazione e Filtri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/notifiche']">Notifiche Real Life</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gestioneOrdini']"> gestioneOrdini</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/commentiLike']">commentiLike</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gestionePref']">gestionePref</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/statistiche']">statistiche</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/internalizzazione']">internalizzazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sessioni']">sessioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/log']">log</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/backup']">backup</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/analytics']">analytics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/asincrono']">asincrono</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/feedback']">feedback</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/chat']">chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/abbonamento']">abbonamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/terzeparti']">terzeparti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/mappe']">mappe</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/push']">push</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/lingue']">lingue</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/faq']">faq</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/gdpr']">gdpr</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/caricafile']">caricafile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/invito']">invito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sondaggi']">sondaggi</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/promozioni']">promozioni</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/machine']">machine</a>
                </li>
            </ul>
        </div>
    </div>
</nav>