<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#home">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/buttonR']">button reinderizzamento</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/barra']" routerLinkActive="active">barra di Ricerca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/reactive']" >Reactive Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/driver']" >Driver Form</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/toggle']">Toggle button</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/loading']">Loading page</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/carousel']">Carousel Images</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/insure']">Insure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/automotive']">Automotive</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/aeronautica']">Aeronautica</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/plc']">PLC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/logistica']">Logistica</a>
                </li>
            </ul>
        </div>
    </div>
</nav>