/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Specifica che questi stili si applicano solo quando il body ha la classe `dark-theme` */
body.dark-theme {
    background-color: #333333 !important;
    color: #ffffff !important;
  }
  
  /* Specifica che questi stili si applicano solo quando il body ha la classe `light-theme` */
  body.light-theme {
    background-color: #ffffff !important;
    color: #000000 !important;
  }
  